.card-deck {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.card {
    min-width: 47.8%;
    max-width: 47.8%;
}

.card img {
    width: 100%;
    height: 28rem;
}

h1 {
    text-align: center;
}